body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3a3db;
    color: #11010c;
}

header {
    background: #ca19a4;
    color: #11010c;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #6d034d;
    font-family:'Times New Roman', Times, serif;

}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

section {
    padding: 20px;
    margin: 10px 0;
}

h2, h3 {
    margin-top: 0;
    color: #5f0544;
    font-family:'Times New Roman', Times, serif;
}

p {
    margin: 5px 0;
}

.formação, .certificações, .experiência, .habilidades {
    margin-bottom: 20px;
}

.habilidades a {color: #6d034d;}

nav {
    background: #fc79d4;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    color: #5f0544;
}

nav ul li a {
    color: #5f0544;
    text-decoration: none;
}

.habilidades ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background: #f531ca;
    color: #5f0544;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer ul {
     list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {color: #6d034d;}

footer ul li a:hover {
    color: #f3a3db;
}
